.separate {
	margin-top: 2em !important;
}

iframe {
	width: 100%;
	height: 100%;
}

strong, abbr {
	font-weight: normal;
	color: $iwcorange;
}

abbr::after {
	color: $petrol;
	content: " (" attr(title) ")";
}

#webaim {
	div {
		text-align: center;
		float: right;
		background-color: #fff;
		width: 33vw;
		padding: 1em;
		font-size: 50%;
		margin-left: 2em;

		* {
			display: block;
		}
	}
	img {
		width: 100%;
		margin-bottom: 1em;
	}
}

.full-width {
	width: 100% !important;
}

video {
	width: 100%;
	max-width: 100%;
}

twitterwidget {
	margin-left: auto;
	margin-right: auto;
	transform: scale(2) rotate(0deg) !important;
}
