$foreground: #fff !default;
$background: #2b242b !default;
$highlight: #FBB03B !default;

$fontfamily: Arial, Helvetica, sans-serif !default;
$fontsize: 4vmin !default;
$lineheight: 1.5 !default;
$headingLineheight: 1.2 !default;

$hpadding: 10vw !default;
$vpadding: 10vh !default;
$maxcontentwidth: 64em !default;
$verticalRhythm: 1em !default;

$transition: 200ms !default;
